.left-column
  = image_tag 'richard-benjamin-ferrell.jpg', class: "ferrell"
.right-column#homepage
  %h3 You have three days, a full tank and the open road.
  %h3 Where do you go?
  %h3 Rounding Third.
  %h5 Enter your travel dates and a starting city, and we'll build you the perfect baseball trip.
  =link_to 'Plan Your Trip Today', new_trip_path, class: 'button'
  .panel
    %p Currently only pulling games for 2014 season. 2015 schedule coming soon!
