@import 'foundation/components/grid';
@import url(http://fonts.googleapis.com/css?family=Niconne);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//////univerasal/////////////////////////////////////////
html {
  text-align: center;
  font-family: 'Shift', sans-serif;
}

body {
  @include grid-row();
}

///////////grid//////////////////////////////////
ul#devise_navigation, header, #content {

  @include grid-row();

  $left-column-size: 6;
  $right-column-size: 12 - $left-column-size;
  .left-column {
    @include grid-column($left-column-size);
  }
  .right-column {
    @include grid-column($right-column-size);
  }
}

///////////navigation//////////////

ul#devise_navigation li{
  display: inline;
  margin: 10px;
}

header li {
  display:inline;
  margin: 3px;
  a {
    font-size: 30px;
  }
}

nav {
  background-image: asset-url('flags.jpg');
  background-repeat: repeat-y;
  margin-left: 50px;
  height: 15%;
}

.tabs {
  margin: 30px;
}

/////homepage image///////////////////

.title {
  font-family: 'Niconne', cursive;
  font-size: 60px;
  // color: #2E35A4;
}

.ferrell {
  height: 600px;
  width: 600px;
}

h2 {
  font-size: 30px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

#content {
  margin-bottom: 10px;
}

.right-column#homepage {
  margin-top: 70px;
}

///////footer ///////////////////////

footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px; /* choose any height */
  p {
    float:left;
    display: inline;
    margin: 5px;
  }
}


ul.games li{
  display: inline;
}

ul.trips li {
  list-style-type: none;
  display: inline;


  a {
    display:inline;
    height: 100%;
    div.trip {
      border: 1px solid black;
      border-radius: 10%;
      box-shadow: 10px 10px 5px #888888;
      width: 100%;
      margin: 25px;
    }
  }
}

////new trip form///////

.left-column#trip {
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10%;
  box-shadow: 5px 10px 10px 5px #888888;

  #trip_city, #trip_name, #trip_start_date, #trip_end_date, #trip_radius  {
    width: 40%;
    min-width: 230px;
    margin: 5px auto;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #2E35A4;
    font-size: 24px;
  }
}

/////babe ruth image///////
.babe {
  margin-top: -150px;
  height: 20%;
}

/////trip_show_path/////////
table#games {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

////venues_path//////////

ul.venues {
  list-style-type:none;
}

#new_user {
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 40px;
  #user_email, #user_password, #user_password_confirmation {
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #2E35A4;
    font-size: 25px;
  }
}


///////trip_edit///////////////////

.edit_trip {
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  margin: 10px;
  #trip_start_date, #trip_end_date, #trip_city, #trip_name, .trip_radius {
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #2E35A4;
    font-size: 20px;
  }
}
